.Card_1{
    border: 2px solid #dddffd;
    padding :2% 2% 2% 2%;
    margin:4%;
    border-radius: 10%;
}

.Card_2{
    border: 2px solid #dddffd;
    padding :2% 2% 2% 2%;
    margin:4%;
    border-radius: 10%;
}

.Card_3{
    border: 2px solid #dddffd;
    padding :2% 2% 2% 2%;
    margin:4%;
    border-radius: 10%;
}

.Card_View{
    text-align: center;
    
    display:flex;
    border:2px solid #ddd;
    margin:
}
img{
	width:70%;
	border:2px solid black;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 8px 9px red;
}

button{
	width: 40%;
	background-color: green;
	height: 8%;
}